.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 72px;
  margin-bottom: 130px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  margin-right: 80px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-list__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header-nav__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 10px 32px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $light-color;
    color: #002529;
  }
}